In [1]:
import selenium
import pandas as pd
from selenium import webdriver 

import warnings
warnings.filterwarnings('ignore')

In [2]:
import time
from bs4 import BeautifulSoup
# Importing required Exceptions which needs to handled
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

#Importing requests
import requests

# importing regex
import re

In [11]:
driver1=webdriver.Chrome(r"C:/Users/Gamya/Downloads/chromedriver_win32/chromedriver.exe")

In [12]:
url='https://www.cars24.com/buy-used-cars/'
driver1.get(url)

In [13]:
button=driver1.find_element_by_xpath('/html/body/div[1]/div[10]/div/div/div/div[2]/div[2]/button').click()
button=driver1.find_element_by_xpath('/html/body/div[1]/div[10]/div/div/div/div[2]/ul/li[4]/h6').click()
button=driver1.find_element_by_xpath('/html/body/div[1]/div[1]/header/div/div[2]/div/span').click()

In [14]:
button=driver1.find_element_by_xpath('/html/body/div[1]/div[2]/div/div[2]/ul/li[6]/div/img').click()

In [7]:
button=driver1.find_element_by_xpath('/html/body/div[1]/div[2]/div/div[2]/ul/li[6]/div[2]/div[1]/div[3]/ul/li[1]/div/span[2]').click()

In [101]:
button=driver1.find_element_by_xpath('/html/body/div[1]/div[2]/div/div[2]/ul/li[6]/div[2]/div[2]/button/span').click()

In [15]:
for _ in range(2000):
    driver1.execute_script("window.scrollBy(0,600)")

In [16]:
MODEL = []
Model = driver1.find_elements_by_xpath("//h2[@class='_3FpCg']")
Model
for i in Model:
    modelname = i.text
    MODEL.append(modelname)
len(MODEL)

1181

In [17]:
KM = []

kilometer = driver1.find_elements_by_xpath("//ul[@class='bVR0c']")
kilometer

for i in kilometer:
    km_run = i.text
    KM.append(km_run)
len(KM)

1181

In [18]:

PRICE = []

price_tag = driver1.find_elements_by_xpath("//div[@class='_7udZZ']")
price_tag
for i in price_tag:
    price = i.text
    PRICE.append(price)
len(PRICE)

1181

In [19]:
CAR_MODEL = []

model = driver1.find_elements_by_xpath("//p[@class='cvakB']")
model

try:
    for i in model:
        model = i.text
        CAR_MODEL.append(model)
except:
        CAR_MODEL.append('-')
        
len(CAR_MODEL)

1181

In [20]:
df=pd.DataFrame()

df['MODEL']=MODEL
df['CAR_MODEL']=CAR_MODEL
df['KM']=KM
df['PRICE']=PRICE
df.head()

,MODEL,CAR_MODEL,KM,PRICE
0,2012 Maruti Swift,VDI Manual,"69,711 km\n2nd Owner\nDiesel","₹4,17,099"
1,2016 Maruti Ertiga,VDI SHVS Manual,"1,30,674 km\n1st Owner\nDiesel","₹7,08,999"
2,2013 Maruti Wagon R 1.0,VXI Manual,"80,310 km\n2nd Owner\nPetrol","₹3,29,299"
3,2014 Maruti Wagon R 1.0,VXI Manual,"56,827 km\n1st Owner\nPetrol","₹3,19,099"
4,2016 Maruti Vitara Brezza,ZDI Manual,"67,227 km\n1st Owner\nDiesel","₹7,57,499"

In [21]:
df.shape

(1181, 4)

In [22]:
df1= pd.DataFrame(df.MODEL.str.split(' ',1).tolist(),
                                 columns = ['MANUFACTURING_YEAR','COMPANY'])

In [23]:
df1

     MANUFACTURING_YEAR               COMPANY
0                  2012          Maruti Swift
1                  2016         Maruti Ertiga
2                  2013    Maruti Wagon R 1.0
3                  2014    Maruti Wagon R 1.0
4                  2016  Maruti Vitara Brezza
...                 ...                   ...
1176               2017        Maruti Celerio
1177               2017         Ford Ecosport
1178               2018    Maruti Wagon R 1.0
1179               2015            Honda City
1180               2013           Hyundai i20

[1181 rows x 2 columns]

In [37]:
df2= pd.DataFrame(df.KM.str.split('\n').tolist(),
                                 columns = ['Kilometer','Owner','Fuel'])

In [38]:
df2

        Kilometer      Owner    Fuel
0       69,711 km  2nd Owner  Diesel
1     1,30,674 km  1st Owner  Diesel
2       80,310 km  2nd Owner  Petrol
3       56,827 km  1st Owner  Petrol
4       67,227 km  1st Owner  Diesel
...           ...        ...     ...
1176    36,719 km  1st Owner  Petrol
1177    24,990 km  1st Owner  Petrol
1178    35,242 km  1st Owner  Petrol
1179    64,209 km  2nd Owner  Petrol
1180    81,549 km  1st Owner  Petrol

[1181 rows x 3 columns]

In [44]:
l1=df1['MANUFACTURING_YEAR']

In [45]:
l1

0       2012
1       2016
2       2013
3       2014
4       2016
        ...
1176    2017
1177    2017
1178    2018
1179    2015
1180    2013
Name: MANUFACTURING_YEAR, Length: 1181, dtype: object

In [46]:
l2=df1['COMPANY']

In [47]:
l2

0               Maruti Swift
1              Maruti Ertiga
2         Maruti Wagon R 1.0
3         Maruti Wagon R 1.0
4       Maruti Vitara Brezza
                ...
1176          Maruti Celerio
1177           Ford Ecosport
1178      Maruti Wagon R 1.0
1179              Honda City
1180             Hyundai i20
Name: COMPANY, Length: 1181, dtype: object

In [50]:
l3=df['CAR_MODEL']

In [51]:
l3

0                       VDI Manual
1                  VDI SHVS Manual
2                       VXI Manual
3                       VXI Manual
4                       ZDI Manual
                   ...
1176                VXI (O) Manual
1177    1.5 TITANIUM TI VCT Manual
1178             VXI AMT Automatic
1179           VX MT PETROL Manual
1180        SPORTZ 1.2 VTVT Manual
Name: CAR_MODEL, Length: 1181, dtype: object

In [52]:
l4=df2['Kilometer']

In [53]:
l4

0         69,711 km
1       1,30,674 km
2         80,310 km
3         56,827 km
4         67,227 km
           ...
1176      36,719 km
1177      24,990 km
1178      35,242 km
1179      64,209 km
1180      81,549 km
Name: Kilometer, Length: 1181, dtype: object

In [54]:
l5=df2['Owner']

In [55]:
l5

0       2nd Owner
1       1st Owner
2       2nd Owner
3       1st Owner
4       1st Owner
          ...
1176    1st Owner
1177    1st Owner
1178    1st Owner
1179    2nd Owner
1180    1st Owner
Name: Owner, Length: 1181, dtype: object

In [56]:
l6=df2['Fuel']

In [57]:
l6

0       Diesel
1       Diesel
2       Petrol
3       Petrol
4       Diesel
         ...
1176    Petrol
1177    Petrol
1178    Petrol
1179    Petrol
1180    Petrol
Name: Fuel, Length: 1181, dtype: object

In [59]:
l7=df['PRICE']

In [60]:
l7

0       ₹4,17,099
1       ₹7,08,999
2       ₹3,29,299
3       ₹3,19,099
4       ₹7,57,499
          ...
1176    ₹4,74,899
1177    ₹7,25,099
1178    ₹4,77,999
1179    ₹6,29,799
1180    ₹4,22,099
Name: PRICE, Length: 1181, dtype: object

In [61]:
d=pd.DataFrame()

d['MANUFACTURING_YEAR']=l1
d['COMPANY']=l2
d['CAR_MODEL']=l3
d['Kilometer']=l4
d['Owner']=l5
d['Fuel']=l6
d['PRICE']=l7
d.head()

,MANUFACTURING_YEAR,COMPANY,CAR_MODEL,Kilometer,Owner,Fuel,PRICE
0,2012,Maruti Swift,VDI Manual,"69,711 km",2nd Owner,Diesel,"₹4,17,099"
1,2016,Maruti Ertiga,VDI SHVS Manual,"1,30,674 km",1st Owner,Diesel,"₹7,08,999"
2,2013,Maruti Wagon R 1.0,VXI Manual,"80,310 km",2nd Owner,Petrol,"₹3,29,299"
3,2014,Maruti Wagon R 1.0,VXI Manual,"56,827 km",1st Owner,Petrol,"₹3,19,099"
4,2016,Maruti Vitara Brezza,ZDI Manual,"67,227 km",1st Owner,Diesel,"₹7,57,499"

In [62]:
d

,MANUFACTURING_YEAR,COMPANY,CAR_MODEL,Kilometer,Owner,Fuel,PRICE
0,2012,Maruti Swift,VDI Manual,"69,711 km",2nd Owner,Diesel,"₹4,17,099"
1,2016,Maruti Ertiga,VDI SHVS Manual,"1,30,674 km",1st Owner,Diesel,"₹7,08,999"
2,2013,Maruti Wagon R 1.0,VXI Manual,"80,310 km",2nd Owner,Petrol,"₹3,29,299"
3,2014,Maruti Wagon R 1.0,VXI Manual,"56,827 km",1st Owner,Petrol,"₹3,19,099"
4,2016,Maruti Vitara Brezza,ZDI Manual,"67,227 km",1st Owner,Diesel,"₹7,57,499"
...,...,...,...,...,...,...,...
1176,2017,Maruti Celerio,VXI (O) Manual,"36,719 km",1st Owner,Petrol,"₹4,74,899"
1177,2017,Ford Ecosport,1.5 TITANIUM TI VCT Manual,"24,990 km",1st Owner,Petrol,"₹7,25,099"
1178,2018,Maruti Wagon R 1.0,VXI AMT Automatic,"35,242 km",1st Owner,Petrol,"₹4,77,999"
1179,2015,Honda City,VX MT PETROL Manual,"64,209 km",2nd Owner,Petrol,"₹6,29,799"
1180,2013,Hyundai i20,SPORTZ 1.2 VTVT Manual,"81,549 km",1st Owner,Petrol,"₹4,22,099"

In [63]:
d.to_csv('Used_car_details.csv')